ol,ul {
  padding-left:0px;
}
ul {
  float:left;
}
ol ul a {
  text-decoration:none;
}
.icon {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
